{
    "project_id": "${project_id}",
    "bq_output_dataset": "${bq_output_dataset}",
    "region": "${region}",
    "google_ads_login_customer_id": ${google_ads_login_customer_id},
    "customer_ids": ${jsonencode(customer_ids)}
}
