{
    "project_id": "${project_id}",
    "bq_output_dataset": "${bq_output_dataset}",
    "bq_output_table": "${bq_output_table}",
    "google_ads_developer_token": "${google_ads_developer_token}",
    "oauth_refresh_token": "${oauth_refresh_token}",
    "google_cloud_client_id": "${google_cloud_client_id}",
    "google_cloud_client_secret": "${google_cloud_client_secret}",
    "google_ads_login_customer_id": ${google_ads_login_customer_id},
    "customer_ids": ${jsonencode(customer_ids)}
}
